.news-card {
  background: #f5f6f7;
  width: 100vw;
  box-sizing: border-box;
  display: block;
  padding: 0 16px;
  user-select: none;
}

.news-card__section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 576px;
  background-color: #ffffff;
  border-radius: 12px;
  margin: 16px 0;
}

.news-card__content {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px;
  box-sizing: border-box;
}

.news-card__header {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  color: black;
  margin: 80px 624px 64px 104px;
  width: 288px;
}

.news-card__title {
  color: black;
  margin: 0 0 8px 0;
}

.news-card__image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.news-card__bookmark-container {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
}

.news-card__bookmark {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
}

.news-card__bookmark-tooltip {
  position: static;
  margin-right: 5px;
  background: #ffffff;
  color: #000000;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}

.news-card__bookmark-image {
  width: 24px;
  height: 24px;
}

.news-card__date {
  color: black;
  margin: 16px 16px 8px;
}

.news-card__description {
  margin: 0;
  color: black;
}

.news-card__author {
  color: black;
  width: 256px;
  height: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.news-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
}

.news-card__source {
  color: #a6a6a6;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.news-card__more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto 40px;
  background: #e8e8e8;
  color: black;
  border: none;
  border-radius: 9999px;
  font-family: inherit;
  padding: 12px 32px;
  cursor: pointer;
  user-select: none;
  caret-color: transparent;
}

@media (min-width: 801px) {
  .news-card {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0 104px 40px;
    width: 100%;
  }

  .news-card__header {
    width: 100%;
    margin: 80px 0 40px;
  }

  .news-card__section {
    margin: 0;
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  .news-card__section {
    max-width: 100%;
    margin: 16px 0;
  }

  .news-card__header {
    width: auto;
    margin: 40px 0 24px;
  }

  .news-card {
    display: block;
    width: 100vw;
    padding: 0 16px;
  }

  .news-card__content {
    padding: 0 16px 16px;
  }

  .news-card__image {
    height: 150px;
  }

  .news-card__error {
    width: 100%;
  }
}
